.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
  padding: 15px 35px;
  font-family: 'arial';
  text-transform: capitalize;
  background-color: #eeeeee;
  border-radius: 16px;
  font-weight: bold;
  margin: 10px;
  color: #0f53ab
}

h1 {
  font-family: arial;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 40px;
}

#next-question-button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  margin-top: 40px;
}

.timer {
  font-size: 20px;
  margin-left: -40px;
  color: red;
  font-size: 30px;
}

.answers:hover {
  color: #db9e3b;
  transform: scale(1.1);
}

.message {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translate(-50%);
  color: red;
  font-weight: bold;
  font-size: 20px;
}